.searchHistory {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.clearHistory, .clearItem {
  border: 0;
  background: transparent;
  cursor: pointer;
}

.clearHistory:hover, .clearHistory:focus {
  font-weight: bold
}

.historyItems {
  width: 100%;
  padding: 10px;
}

.historyItem:first-child {
  border-top: 1px solid #ddd;
}

.historyItem {
  display: flex;
  padding: 5px;
  align-items: center;
  border-bottom: 1px solid #ddd;
  color: #A5A5A5;
  font-size: 12px;
}

.historyItem-name {
  flex-grow: 1;
  color: black;
  font-size: 16px;
}